:root{
   --accent-color:#404BBF
}
.link{
    text-decoration: none;
}

.list{
    list-style-type: none;
}

.button{
    cursor: pointer;
}

.button:hover{
    background-color: #404BBF
}
.button:focus {
    color: #404BBF
}
.button-background-color{
background: #404BBF;
}
.button-text{
color:  #FFF;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.64px;  
background-color: #4D5AE5
}
body{
    font-family: 'Roboto', sans-serif;
    color:#434455;
    background-color:#FFFFFF
}


.logo{
        height: 24px;
        flex-shrink: 0;
        color:#2E2F42;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.bold-raleway-web{
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.bold-raleway-studio{
    color:  #2E2F42;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.menu-link{
    color:  #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.adress{
    font-style: normal;
}

.address-list-item-mail{
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.address-list-item-tel{
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.menu-link:hover,
.menu-link:focus,
.address-list-item-mail:hover,
.address-list-item-mail:focus,
.address-list-item-tel:hover,
.address-list-item-tel:focus
{
color:  var(--accent-color);
}

.effective-solution{
    color:  #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center
}
.navy-background{
flex-shrink: 0;
background:#2E2F42;
}

.visually-hidden
{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.strategy-text{
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
        
        
}
.strategy-head{
    color: #2E2F42;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
}
.punctuality-head,
.diligence-head,
.technologies-head{
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.punctuality{
  
}

.punctuality-text,
.diligence-text,
.technologies-text{
color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.our-team-head,
.our-portfolio{
    color: #2E2F42;
    text-align: center
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize}

.our-team-background{
background-color: #F4F4FD
}
.over-mark-name,
.over-tom-name,
.over-camila-name,
.over-daniel-name{
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    background-color: #FFF}
.over-mark-job,
.over-tom-job,
.over-camila-job,
.over-daniel-job{
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.banking-app,
.cashless-payment,
.meditation-app,
.taxi-service,
.screen-illustrations,
.online-courses{
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;}
.over-banking-app,
.over-cashless-payment,
.over-meditation-app,
.over-taxi-service,
.over-screen-illustrations,
.over-online-courses{
    color: #434455;
    font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;}
.footer-text{
color: #F4F4FD;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.bold-raleway-studio-white{
color: #F4F4FD;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}